services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gaussdevagency_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${SSL_CERT_SOURCE_DIR:-./nginx/ssl}:/etc/ssl/gaussdev:ro
    restart: unless-stopped
